.c-modal {
  top: 20%;
  left: calc(16.666667% / 2 ) !important;
  // max-width: 800px;

  @include media-breakpoint-down(xs) {
    left: 0 !important;
  }
}


.v-card {
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.10);
  border: none;
  flex-direction: row;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }

  &__logo {
    img {
      height: 60px;
      width: 60px;
    }
  }

  &__match {
    color: #008000;
    font-size: 14px;
  }

  &__verified {
    font-size: 14px;
  }



  &__right {
    border-radius: 0 4px 4px 0;

    @include media-breakpoint-down(md) {
      height: 200px;
    }
  }
}
